@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

select {
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: transparent;
    outline: none;
}
ul {
   padding-left: 0;
   margin-bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.logo img {
  height: 50px;
  width: auto;
  cursor: pointer;
}
/* search */
.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
}
.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.search-button {
  padding: 10px;
  background-color: #ff9800; /* Color naranja del botón */
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
/* icons phone, favorite, shoppingcar, user */
.buttons{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons a{
  padding: 10px;
}
.buttons img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-left: 8px;
}
.navbar-separator {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin: 0 10px;
} 
/* end */

.right {
  flex-grow: 1;
  text-align: center;
}
.nav__list select, option{
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.main .main__nav{
  display: flex;
  padding: 10px 5px 0px;
  margin-bottom: 50px;
  justify-content: space-between;
}

/* cards products */
.card-animatiom{
  opacity: 0; /* Establecer la opacidad inicial en 0 */
  animation-name: fadeIn; /* Nombre de la animación */
  animation-duration: 0.5s; /* Duración de la animación en segundos */
  animation-timing-function: ease-in; /* Función de temporización de la animación */
  animation-fill-mode: forwards; /* Mantener el estado final de la animación */
}
.card-container {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
}

.card-image-container {
  width: 100%;
  max-height: 0;
  margin-bottom: 20px;
  padding-top: 60%; /* Establecer el tamaño relativo del contenedor de la imagen */
  position: relative;
}

.card-image {
  width: 50%;
  height: 100%; /* Establecer el tamaño de la imagen al 100% del contenedor */
  object-fit: cover; /* Ajustar la imagen al contenedor manteniendo la proporción */
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* Centrar la imagen vertical y horizontalmente */
}
.delete-btn {
  border: none;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.card-content {
  padding: 20px;
  color: #797d88;
}

.card-name {
  font-size: 18px;
  margin-top: 10px;
}

.card-description {
  color: #000;
  max-width: 100%;
}

.card-prices {
  margin-top: 10px;
}

.card-price-original {
  font-size: 16px;
  color: #0ea487;
  font-weight: bold;
}

.card-price-discount {
  font-size: 12px;
  color: #797d88;
  text-decoration: line-through;
  margin-right: 10px;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  color: #666769;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.btn-text {
  margin-right: 10px;
  margin-left: 70px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}
.card-button i {
  color: #0ea487;
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 50px;
}

/* footer */
.categories li {
  color: #808080;
  margin-bottom: 5px;
}
.categories li a{
  color: #808080;
  margin-bottom: 5px;
}

.categories li a:hover {
  color: #0e856f; 
  text-decoration: underline; 
}
.categories li:hover {
  color: #0e856f; 
  text-decoration: underline;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px); /* Animación de desplazamiento hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Animación de desplazamiento hacia arriba */
  }
}