@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

select {
  font-size: 16px;
  padding: 5px;
  border: none;
  background-color: transparent;
  outline: none;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.logo img {
  height: 50px;
  width: auto;
}

.search {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 6px 8px;
}

.search input[type="text"] {
  font-family: sans-serif;
  border: none;
  background-color: transparent;
  padding: 4px;
  font-size: 16px;
  width: 200px;
}

.search button[type="submit"] {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 20px;
  margin-left: 8px;
}

.buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-left: 8px;
}

/* hover boton carrito de compras */
.button-container {
  position: relative;
}

.hover-button {
  background-color: #2ecc71;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1c40f;
  color: white;
  padding: 12px;
  display: none;
  border-radius: 5px;
}

.hover-button:hover + .content {
  display: block;
}


.right {
  flex-grow: 1;
  text-align: center;
}
.nav__list select, option{
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}/* end navbar */ 


/* calificacion de 5 estrellas */
.rating {
  font-size: 20px;
  display: inline-block;
  color: #ffd700; /* color de las estrellas */
}

.star {
  font-size: inherit;
  display: inline-block;
  transform: rotate(-15deg); /* rotación para crear la forma de la estrella */
}

/* button hover delete and edit */
.card__buttons {
  position: absolute;
  top: 35%;
  left: 30%;
  visibility: hidden;
  border: none;
}
.card:hover .card__buttons {
  visibility: visible;
}

.cards__button {
  border: none;
  width: 30px;
  color: #797d88;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.cards__button:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(153, 163, 164, 0.7);
  transform: scale(1.05);
}
/* list category product*/
.separador {
  border: 2px solid;
  color: #0e856f;
}

/* filter buttons */
.section__filter{
  list-style: none;
}
.section__filter li{
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 20px;
}
.section__filter li button {
  background: none;
  border: none;
  color: #000; /* Color del texto */
  cursor: pointer;
}
.section__filter li button:hover {
  color: #0e856f; 
  text-decoration: underline; 
}
/* products */
.card-container {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
}

.card-image-container {
  width: 100%;
  max-height: 0;
  margin-bottom: 20px;
  padding-top: 60%; /* Establecer el tamaño relativo del contenedor de la imagen */
  position: relative;
}

.card-image {
  width: 50%;
  height: 100%; /* Establecer el tamaño de la imagen al 100% del contenedor */
  object-fit: cover; /* Ajustar la imagen al contenedor manteniendo la proporción */
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* Centrar la imagen vertical y horizontalmente */
}

.card-content {
  color: #797d88;
}

.card-name {
  font-size: 18px;
  margin-top: 10px;
}

.card-description {
  color: #000;
  max-width: 100%;
}

.card-prices {
  margin-top: 10px;
}

.card-price-original {
  font-size: 18px;
  color: #0ea487;
  font-weight: bold;
}

.card-price-discount {
  font-size: 16px;
  color: #797d88;
  text-decoration: line-through;
  margin-right: 10px;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  color: #666769;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-text {
  margin-right: 10px;
  margin-left: 70px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}
.card-button i {
  color: #0ea487;
  font-size: 15px;
}
